html, body {
    background: #f8f8f8;
}

#app {
    width: 960px;
    margin: 10px auto;
}

canvas {
    box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.3);
    background: #fff;
    display: none;
    /*padding: 10px;*/
}

canvas.visible {
    display: block;
}
